$basegrey:#363946;
$dimgrey:#696773;
$lightgrey:#97A7B3;
$black:#000000;
$baseblue:#2368A2;
$dimblue:#1D5685;
$darkblue:#10304A;
$darkestblue:#0E283D;
$nav:#0B1E2D;
$green:#74d99f;

$bgGrey:#f1f3f5;


$textGrey:#828282;
$darkGrey: #222222;