.svg__image1 {
    margin: 0px auto 1rem auto;
    width:30%;
    
    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.svg__image2 {
    margin: 0px auto 1rem auto;
    
    img {
        max-height: 100%;
        max-width: 100%;
    }
}